body {
	margin: 0;
	padding: 0;
	background-color: #4d94ff;
	font-family: arial;
	font-style: normal;
}

.outershell {
	margin: auto;
	position: relative;
	width: 600px;
	height: 700px;
}

main {
	position: relative;
	top: 10px;
	left: 60px;
	width: 400px;
	height: 500px;
	background-color: white;
	padding-left: 40px;
	padding-right: 40px;
}

h2 {
	padding-top: 40px;
	text-align: center;
	font-size: 36px;
}

fieldset {
	margin-top: 70px;
	border: none;

}

label {
	font-size: 24px;
	margin: 10px;
}

input {
	padding: 15px;
	margin: 10px;
	width: 320px;
	height: 30px;
	border: 2px solid grey;
	font-size: 24px;
}

button {
	margin-left: 10px;
	width: 352.5px;
	height: 55px;
	border: 2px solid grey;
	font-size: 24px;
	color: white;
	background-color: #29a329;
}

button:hover {
	background-color: darkgreen;
}
.forgotpass {
	margin-top: 4px;
	text-align: center;
}

.already {
	margin-top: 35px;
	text-align: center;
	color: white;
}

.logo {
	text-align: center;
	margin-top: 70px;
	margin-left: 200px;
	height: 35px;
}

#id {
	padding-top: 50px;
}
